@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

html {
  height: 80%;
  min-height:200px;
}
body {
    background-image: url("gym.jpg");
  
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
 font-family: 'Noto Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  margin-bottom: 50px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.button {
  background: rgb(237, 40, 70);
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin-left: 25rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow:0px 2px 5px rgb(0,0,0,0.5);
}

.disabled {
  display:none;
}

section {
  padding: 30px ;
  max-width: 500px;
  margin: 20px auto;
  margin-bottom: 20px;
  
  backdrop-filter:blur(20px);
  box-shadow:0px 2px 10px rgba(0,0,0,0.3);
  border-radius:5px;
  transition:transform 0.2s ease-in-out;
  background: rgb(2,0,36);
  background: linear-gradient(28deg, rgba(255,0,36,1) 0%, rgba(116,9,255,1) 35%, rgba(255,116,255,1) 100%);
}


input,textarea {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  font-family:inherit;
  background-color: #000;
    font-size: 10px;
    font-weight: 800;
    padding: 10px;
    margin:10px;
    border-radius: 5px;
}
.options,option{
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: #fff;
  font-family:inherit;
  background-color: #000;
    font-size: 16px;
    font-weight: 800;
    padding: 10px;
    margin:0px;
    border-radius: 5px;
}
::placeholder {
  
  color:#fff;
  opacity: 0.8;
}
p{
  text-align:justify;
margin-top:0;
}